# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.class
*.exe
*.Executables
*.exec
*.out
*.app

# Else
.vscode
.DS_Store
/petWorld/petWorld/nbproject/private/
/petWorld/petWorld/build/
/Restaurant/nbproject/private/
/Restaurant/build/
/SLL_Lab/nbproject/private/
/Stack/nbproject/private/
/Stack_lab/nbproject/private/
/StackQueueLab/nbproject/private/
